In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
response = requests.get('https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors')
doc = BeautifulSoup(response.text)

In [46]:
rows = []
female_authors = doc.find_all('tr')
for author in female_authors:
    row = {}
    row['title'] = author.find('a', class_='bookTitle').get_text(strip=True)
    row['rank'] = author.find('td', class_='number').get_text(strip=True)
    row['author'] = author.find('span', itemprop='name').get_text(strip=True)
    row['score'] = author.find('span', class_='smallText uitext').find_all('a')[0].text
    row['votes'] = author.find('span', class_='smallText uitext').find_all('a')[1].text
    row['rating'] = author.find('span', class_='minirating').get_text(strip=True)
    
    rows.append(row)

In [45]:
for item in doc.find_all('tr'):
    #print(item.find_all('span', class_='smallText uitext'))
    for a_tag in item.find('span', class_='smallText uitext').find_all('a'):
        print(a_tag.text)
    #print(len(item.find('span', class_='smallText uitext').find_all('a')))

score: 30,733
314 people voted
score: 28,553
292 people voted
score: 21,909
224 people voted
score: 18,720
196 people voted
score: 17,920
184 people voted
score: 13,326
138 people voted
score: 12,749
133 people voted
score: 12,399
129 people voted
score: 11,070
116 people voted
score: 10,731
112 people voted
score: 10,117
107 people voted
score: 9,807
104 people voted
score: 9,193
98 people voted
score: 8,935
96 people voted
score: 7,775
84 people voted
score: 7,336
81 people voted
score: 7,017
75 people voted
score: 6,890
74 people voted
score: 6,873
72 people voted
score: 6,802
74 people voted
score: 6,653
71 people voted
score: 6,087
65 people voted
score: 5,623
60 people voted
score: 5,274
56 people voted
score: 4,899
54 people voted
score: 4,682
51 people voted
score: 4,484
49 people voted
score: 4,394
45 people voted
score: 4,343
47 people voted
score: 4,235
47 people voted
score: 4,120
47 people voted
score: 4,108
47 people voted
score: 3,895
46 people voted
score: 3,842
43 people voted
score: 3,700
42 people voted
score: 3,683
43 people voted
score: 3,653
43 people voted
score: 3,618
43 people voted
score: 3,535
43 people voted
score: 3,440
38 people voted
score: 3,381
40 people voted
score: 3,361
39 people voted
score: 3,340
34 people voted
score: 3,092
36 people voted
score: 3,054
37 people voted
score: 2,904
36 people voted
score: 2,831
32 people voted
score: 2,755
32 people voted
score: 2,579
31 people voted
score: 2,547
30 people voted
score: 2,535
30 people voted
score: 2,526
30 people voted
score: 2,524
29 people voted
score: 2,504
29 people voted
score: 2,498
31 people voted
score: 2,469
31 people voted
score: 2,450
28 people voted
score: 2,316
30 people voted
score: 2,306
29 people voted
score: 2,203
27 people voted
score: 2,199
22 people voted
score: 2,191
27 people voted
score: 2,128
26 people voted
score: 2,038
26 people voted
score: 2,013
21 people voted
score: 2,006
25 people voted
score: 1,931
23 people voted
score: 1,914
26 people voted
score: 1,849
22 people voted
score: 1,819
24 people voted
score: 1,748
21 people voted
score: 1,698
17 people voted
score: 1,684
18 people voted
score: 1,683
24 people voted
score: 1,659
20 people voted
score: 1,572
19 people voted
score: 1,547
20 people voted
score: 1,510
20 people voted
score: 1,497
17 people voted
score: 1,477
20 people voted
score: 1,435
16 people voted
score: 1,392
18 people voted
score: 1,380
15 people voted
score: 1,366
15 people voted
score: 1,324
18 people voted
score: 1,297
16 people voted
score: 1,296
14 people voted
score: 1,286
16 people voted
score: 1,276
17 people voted
score: 1,276
15 people voted
score: 1,253
18 people voted
score: 1,230
16 people voted
score: 1,212
13 people voted
score: 1,165
16 people voted
score: 1,142
13 people voted
score: 1,130
15 people voted
score: 1,119
15 people voted
score: 1,115
12 people voted
score: 1,107
15 people voted
score: 1,083
12 people voted

In [47]:
df = pd.DataFrame(rows)
df.head()

,author,rank,rating,score,title,votes
0,The Handmaid's Tale,1,"4.09 avg rating — 1,104,020 ratings","score: 30,733",The Handmaid's Tale,314 people voted
1,"The Hunger Games (The Hunger Games, #1)",2,"4.33 avg rating — 5,742,704 ratings","score: 28,553","The Hunger Games (The Hunger Games, #1)",292 people voted
2,Frankenstein,3,"3.78 avg rating — 1,023,856 ratings","score: 21,909",Frankenstein,224 people voted
3,"A Wrinkle in Time (Time Quintet, #1)",4,"4.01 avg rating — 904,205 ratings","score: 18,720","A Wrinkle in Time (Time Quintet, #1)",196 people voted
4,The Left Hand of Darkness (Hainish Cycle #4),5,"4.06 avg rating — 98,870 ratings","score: 17,920",The Left Hand of Darkness (Hainish Cycle #4),184 people voted